.textoslide{animation:appear linear;animation-timeline:view();animation-range:entry 0 cover 30%}
.imagemslide{animation:appear linear;animation-timeline:view();animation-range:entry 0 cover 30%}
#imagens img{opacity:0;transition:opacity 1s ease-in-out}
#imagens.aparecer img{opacity:1}
#titulonomeio{opacity:0;transition:opacity 2.5s ease-in-out}
#titulonomeio.aparecer{opacity:1}
.logonum1{position:absolute;top:0;leftt:0;max-width:150px;height:auto;border-radius:5px}
.logonum2{position:absolute;top:0;right:0;max-width:150px;height:auto;border-radius:5px}
.titulonomeio{color:#fff;text-shadow:2px 2px 4px #9b8c8c;display:flex;justify-content:center;align-items:center;height:110vh;font-size:100px}
.textocontrafakenews{font-weight:700;justify-content:center;align-items:center;height:auto;width:auto;font-size:35px;left:5%;margin:auto;left:100px}
.explicacoesEmParagrafos{font-size:18px;height:auto;width:auto;margin:auto;color:#faebd7}
#subsubtitulo1{color:#f08080}
#subsubtitulo3{color:#FFCCCB}
.subsubtitulo{font-size:22px;height:auto;width:auto;margin:auto}
#subsubtitulo2{color:#a2d7e9}
.textocontrafakenews{margin-bottom:1em}
.textocontrafakenews + .explicacoesEmParagrafos{text-indent:0;margin-top:1em}
.subsubtitulo + .explicacoesEmParagrafos{text-indent:1em;margin-top:10px}
.explicacoesEmParagrafos + .subsubtitulo{text-indent:0;margin-top:15px}
.explicacoesEmParagrafos{margin-bottom:10px}
.explicacoesEmParagrafos + .explicacoesEmParagrafos{text-indent:1em;margin-top:1em}
.explicacoesEmParagrafos.mtb{text-indent:0;margin-top:2.17em}
#subtitulo0{color:#ff0}
#subtitulo1{color:red}
#subtitulo2{color:green}
#titulo{margin:auto;font-size:40px;color:#fff}
#textoembaixodotitulo{color:#d5d1d1}
body{background-color:#000}
.textoIntroducao{height:1em}
.italico{font-style:italic;color:lightorange}

@media (max-width: 768px) {
    /* Estilos para telas menores que 768px de largura (celulares) */
    body {
        font-size: 16px;
    }
    .titulonomeio{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-size: 80px;

    }

    .logonum1{
        position: block;
    }

    .logonum2{
        position: block;
    }

    #textocontrafakenews{
        margin-bottom: 0;
    }
    
    #explicacoesEmParagrafos{
        margin: 100px;
    }
}


#imagemStop{
    width: 250px;
    max-width: auto;
   }


p {
      text-align: justify;
}
